* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 300px;
  margin-top: 30px;
}

.titulo {
  background-color: brown;
  width: 100%;
  height: 50px;
  text-align: center;
}
button {
  background-color: brown;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30px;
}
@media (min-width: 100px) {
  boddy {
    background-color: black;
    display: block;
  }
}

.comments-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 20px 30px;
  background-color: brown;
}
